<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue中的列表渲染</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
	<div id="app">
		<template v-for="(item, index) of list" 
							:key="item.id"
		>
			<div>{{item.text}} ----- {{index}}</div>
			<div>{{item.text}}</div>
		</template>

		<div v-for="(item, key, index) of userInfo">
			{{item}} ---- {{key}} ---- {{index}}
		</div>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el: "#app",
			data: {
				list: [{
					id: "010120201",
					text: "hello"
				}, {
					id: "010120202",
					text: "Dell"
				}, {
					id: "010120203",
					text: "Lee"
				}],
				userInfo: {
					name: "Dell",
					age: 28,
					gender: "male",
					salary: "secret"
				}
			}
		})
		/* 
		1.key 要唯一、尽量不使用index（对象或数组之类的非原始类型值）
		2.Vue 包含一组观察数组的变异方法:pop、push、shift、unshift、splice、sort、reverse方法来操作数组
		3.替换数组
		4.Vue 不能检测以下变动的数组：1.当你利用索引直接设置一个项时，例如：vm.items[indexOfItem] = newValue；2.当你修改数组的长度时，例如：vm.items.length = newLength
		5.上述问题一解决办法：Vue.set(vm.items, indexOfItem, newValue)；vm.items.splice(indexOfItem, 1, newValue)；vm.$set(vm.items, indexOfItem, newValue)
		6.上述问题二解决办法：vm.items.splice(newLength)
		5.<template>模板占位符（不会被渲染在页面中）
		 */
	</script>
</body>
</html>